.backGround {
    background-color: rgba(255, 0, 0, 0.623);
    height: 550px;
    width: 700px;
    padding: 20px;
}

h1 span {
    color: orange;
}

h2 span {
    color: red;
}

img {
    height: 300px;
    width: 300px;  
    margin-left: 340px;
    position:absolute
}

.puki {
    height: 300px;
    width: 300px;  
    margin-left: 0%;
    position:absolute;
    cursor:pointer;
}

.answer1 {
    border: solid 2px lightgreen;
    height: 30px;
    width: 600px;
    padding: 20px;
    margin-top: 400px;
    position:absolute;
    /* max-width:300px; */
  
}

.answer2 {
    border: solid 2px lightgreen;
    height: 30px;
    width: 600px;
    padding: 20px;
    margin-top: 480px;
    position:absolute;
  
}